<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>VVA - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/sandstone/bootstrap.min.css">       
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav style="box-shadow: 0 5px 5px -5px rgba(0,0,0,0.48)">
            <div class="p-5 bg-dark"></div>
            <div class="navbar navbar-expand-sm navbar-light py-1 container mb-1">
                <a class="navbar-brand" href="{{ path('home') }}">Village Vacances Alpes</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar-collapse collapse show" id="navbarColor01">
                    <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ path('journey_index') }}">Journey <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" data-toggle="dropdown">
                            Accommodation
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('accommodation_index') }}">List</a>
                            <a class="dropdown-item" href="{{ path('status_acco_index') }}">Status</a>
                            <a class="dropdown-item" href="{{ path('type_acco_index') }}">Type</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('reservation_index') }}">Reservation</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    </ul>
                    <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </nav>
        
        <div class="container px-0 py-5">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>
{# style="background-image: linear-gradient(141deg, #1fc8db 25%, #2cb5e8 75%)" #}
